@use '../../../scss/variables' as var;

.key-control {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.key-btn {
  all: unset;
  cursor: pointer;
  color: #888;
  font-size: 13px;
  font-weight: 500;
  flex: 1;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;

  &:hover {
    background-color: #2e2e2e;
    color: #fff;
  }

  &--active {
    background-color: var.$accent !important;
    color: white;
  }
}
