// Default breakpoint for mobile devices
$breakpoint-mobile: 850px;

// Mixin for targeting mobile devices and up
@mixin mobile {
   @media (max-width: #{$breakpoint-mobile}) {
      @content;
   }
}

// Breakpoint for tablets
$breakpoint-tablet: 968px;

// Mixin for targeting tablets and up
@mixin tablet {
   @media (max-width: #{$breakpoint-tablet}) {
      @content;
   }
}

// Breakpoint for laptops and desktops
$breakpoint-laptop: 1270px;

// Mixin for targeting laptops and desktops and up
@mixin laptop {
   @media (max-width: #{$breakpoint-laptop}) {
      @content;
   }
}

// Breakpoint for smaller laptops
$breakpoint-small-laptop: 1309px;

// Mixin for targeting laptops and desktops and up
@mixin smallLaptop {
   @media (max-width: #{$breakpoint-small-laptop}) {
      @content;
   }
}

// Breakpoint for smaller laptops
$breakpoint-medium-laptop: 1649px;

// Mixin for targeting laptops and desktops and up
@mixin mediumLaptop {
   @media (max-width: #{$breakpoint-medium-laptop}) {
      @content;
   }
}

$breakpoint-widescreen: 1770px;
$breakpoint-large-desktop: 1700px;
$breakpoint-desktop: 1570px;
$breakpoint-small-desktop: 1524px;
$breakpoint-narrow-desktop: 1454px;

@mixin widescreen {
   @media (max-width: #{$breakpoint-widescreen}) {
      @content;
   }
}
@mixin largeDesktop {
   @media (max-width: #{$breakpoint-large-desktop}) {
      @content;
   }
}
@mixin desktop {
   @media (max-width: #{$breakpoint-desktop}) {
      @content;
   }
}
@mixin smallDesktop {
   @media (max-width: #{$breakpoint-small-desktop}) {
      @content;
   }
}
@mixin narrowDesktop {
   @media (max-width: #{$breakpoint-narrow-desktop}) {
      @content;
   }
}