// colors
$primaryDark: #0A0A0A;
$border: 1px solid #1a1a1a;
$secondaryDark: #171717;

$accent: #0066FF;
$alice-blue: #262626;

// fretboard
$noteWidth: 25px;
$noteHeight: 25px;
$fret-color: #2e2e2e;
$fretboard: #242424;
$low-strings-color: #3a3a3a;
$high-strings-color: #333232;

// padding
$paddingSmall: 0 4rem;
$paddingMedium: 0 12rem;
$paddingLarge: 0 20rem;

// transitions 
$transition: all 200ms ease-in-out;
