@use "../../scss/variables" as var;
@use "../../scss/mixins" as mix;

.footer {
  height: 55px;
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 0 2rem;

  .footer-content {
    @include mix.contentWidth();
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-links {
      display: flex;
      align-items: center;
      li {
        font-size: 13px;
      }
    }
  }

  p {
    color: var(--text-secondary);
    font-size: 13px;
  }
}
