@use '../../scss/variables' as var;
@use '../../scss/mixins' as mix;

.footer {
  height: 65px;
  background-color: var.$primaryDark;
  border-top: var.$border;
  display: flex;
  align-items: center;
  padding: 0 2rem;

  .footer-content {
    @include mix.contentWidth();
    margin: 0 auto;
  }

  p {
    color: var(--text-secondary);
    font-size: 13px;
  }
}