@use "../../../scss/variables" as var;
@use "../../../scss/breakpoints" as bp;

.overlay-controls {
  height: 50px;
  flex: 2;
  border-radius: 6px;
  display: flex;
  // align-content: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: var.$secondaryDark;
  width: 100%;
  min-height: 50px;
  button {
    all: unset;
    background-color: var(--bg-elevated);
    cursor: pointer;
    flex: 1;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-align: center;
    &:hover {
      background-color: var(--bg-elevated-hovered);
      color: var(--text-primary);
    }

    &.activeBtn {
      background-color: var.$accent !important;
      color: white !important;
    }

    .label-short { display: none; }

    @include bp.laptop {
      .label-full { display: none; }
      .label-short { display: inline; }
    }
  }
}
