@use "../../scss/mixins" as mix;
@use "../../scss/variables" as var;

.controls {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 2.5rem;
  @include mix.contentWidth();
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  .keys,
  .flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: var.$border;
    background-color: var.$secondaryDark;
    height: 50px;
    border-radius: 6px;
    padding: 5px 10px;
    position: relative;
  }

  .flex {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
